html,body{
    height:100%;
}
body{
    overflow:hidden;    
    background-image:url(../x2bg1.jpg);
    background-size: cover;
    background-position: center center;
}
#gradient{
    position: fixed;
    height:145px;
    width:100%;
    bottom:0;
    background-image:url();
}
#content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #df0000;
    text-align: center;
    image-resolution: from-image;
    overflow:hidden;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}
#content .top, #content .bottom, #content .very_bottom{    
    position: absolute;
    width: 100%;
}
.top{    
    top: 0%;
}

.middle{
    
    top: 99%;
}

.bottom{
    bottom: 21%;
}

.very_bottom{
    bottom: 5%;
}

.Logo{
  /*height: 288px;
  width: 160px;*/
    height: 4%;
    width: 4%;
  margin-left: auto;
  margin-right: auto;
    padding-top: 40px;
}

.SongTitle{
  height: 35%;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
padding-top: 500px;
}

.title {
    font-size: 0px;
    letter-spacing: 4px;

}
.subtitle {
    font-size: 0px;
    letter-spacing: 4px;
    line-height: 0.8em;
}
.tracks {
    margin-top: 20px;
    font-size: 13px;
}
.links{
    font-size:0;
    margin-top: 30px;
}
.link {
    width: 39px;
    height: 39px;
    display: inline-block;
    margin: 0 8px;
    background-position: center top;
    cursor: pointer;
}

.links1 {
    width: 40px;
    height: 55px;
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;
    background-position: center;
}

.links1.download:hover{
    background-image:url(../download2.png);
}
.link:hover{
    background-position: center bottom;
}
.link.itunes{
    background-image:url(http://dizofyq6y2cqx.cloudfront.net/lorde/icon_apple.png);
}
.link.jbhifi{
    background-image:url(http://dizofyq6y2cqx.cloudfront.net/lorde/icon_jbhifi.png);
}
.link.sanity{
    background-image:url(http://dizofyq6y2cqx.cloudfront.net/lorde/icon_sanity.png);
}
.link.getmusic{
    background-image:url(http://dizofyq6y2cqx.cloudfront.net/lorde/icon_getmusic.png);
}
.link.mail{
    background-image:url(http://dizofyq6y2cqx.cloudfront.net/lorde/icon_mail.png);
}
.link.facebook{
    background-image:url(http://dizofyq6y2cqx.cloudfront.net/lorde/icon_facebook.png);
}
.link.tumblr{
    background-image:url(http://dizofyq6y2cqx.cloudfront.net/lorde/icon_tumblr.png);
}
.link.instagram{
    background-image:url(http://dizofyq6y2cqx.cloudfront.net/lorde/icon_instagram.png);
}
.link.twitter{
    background-image:url(http://dizofyq6y2cqx.cloudfront.net/lorde/icon_twitter.png);
}
.link.shop{
    background-image:url(http://dizofyq6y2cqx.cloudfront.net/lorde/icon_shop.png);
}
.links1.download{
    background-image:url(../download1.png);
}



