html,body{
    height:100%;
}
body{
    overflow:hidden;    
    background-image:url(https://raw.githubusercontent.com/times-x-two/times-x-two.github.io/master/bg2.png);
    background-size: cover;
    background-position: center center;
}
#gradient{
    position: fixed;
    height:145px;
    width:100%;
    bottom:0;
    background-image:url();
}
#content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #df0000;
    text-align: center;
    image-resolution: from-image;
    overflow:hidden;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}
#content .top, #content .bottom, #content .very_bottom{    
    position: absolute;
    width: 100%;
}
.top{    
    top: 0%;
}

.middle{
    
    top: 90%;
}

.bottom{
    bottom:10%;
}

.very_bottom{
    bottom:0%;
}

.Logo{
  height: 288px;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
    padding-top: 40px;
}

.SongTitle{
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
padding-top: 360px;
}

.title {
    font-size: 0px;
    letter-spacing: 4px;

}
.subtitle {
    font-size: 0px;
    letter-spacing: 4px;
    line-height: 0.8em;
}
.tracks {
    margin-top: 20px;
    font-size: 13px;
}
.links{
    font-size:0;
    margin-top: 30px;
}
.link {
    width: 39px;
    height: 39px;
    display: inline-block;
    margin: 0 8px;
    background-position: center top;
    cursor: pointer;
}
.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
}

.link:hover{
    background-position: center bottom;
}
.link.facebook{
    background-image:url(../icon_facebook.png);
}
.link.instagram{
    background-image:url(http://dizofyq6y2cqx.cloudfront.net/lorde/icon_instagram.png);
}
.link.twitter{
    background-image:url(http://dizofyq6y2cqx.cloudfront.net/lorde/icon_twitter.png);
}

